.maqola-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.maqola-itms {
  font-family: Poppins, sans-serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 102px;
  letter-spacing: 0em;
  text-align: left;
}
.maqola-desc {
  width: 100%;
  max-width: 521px;
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
.maqola-btn {
  display: inline-block;
  background: rgba(96, 199, 191, 1);
  color: aliceblue;
  font-family: Poppins, sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  padding: 19px 48px;
  border-radius: 10px;
}
.maqola-btn:hover {
  background-color: rgb(136, 25, 25);
  transition: background-color 0.4s linear;
}
.maq-big-box {
  padding-bottom: 209px;
  display: flex;
  justify-content: space-between;
  padding-top: 91px;
}
.maq-box {
  width: 100%;
  max-width: 436px;
}
.maq-p {
  padding-top: 26px;
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
.maq-h3 {
  padding-top: 21px;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}
