.section1 {
  padding-top: 174px;
  padding-bottom: 100px;
  background-color: #86868617;
}
.box3-1 {
  display: flex;
  align-items: center;
}
.box1-1 {
  margin-right: 77px;
  background: rgba(42, 42, 42, 1);
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 148px;
  padding-left: 50px;
}
.box1-1:hover {
  background-color: chocolate;
  transition: background-color 0.4s linear;
}
.box1-2 {
  margin-right: 129px;
  background: rgba(42, 42, 42, 1);
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 234px;
  padding-left: 50px;
}
.box1-2:hover {
  background-color: chocolate;
  transition: background-color 0.4s linear;
}
.box1-3 {
  color: #fff;
  background: rgba(96, 199, 191, 1);
  padding-top: 37px;
  padding-right: 21px;
  padding-bottom: 37px;
  padding-left: 22px;
}
.box1-3:hover {
  background-color: rgb(136, 25, 25);
  transition: background-color 0.4s linear;
}
.box-h333 {
  font-family: Poppins, sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
}
.box-ppppp {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
/*---------------------------------------*/

.servis {
  padding-top: 209px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servis-box2 {
  width: 100%;
  max-width: 616px;
}
.sercis-h2 {
  font-family: Poppins, sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: left;
}
.servis-p {
  padding-top: 41px;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
